<!-- ESTE COMPONENTE ES LA BARRA DE NAVEGACIÓN ----INICIO   ---------------------------------->

<div>
  <!-- INICIO del NAV --- Esta es nav osea la barra de navegación  ----------------------------->
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <!-- INICIO del LOGO  parte del Logo del nav ------------------------------->
    <a class="navbar-brand" href="#">School App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- FIN del LOGO  parte del Logo del nav ------------------------------->

    <!-- INICIO del MENU --- Este es el MENU del nav -------------------------->

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="addAlumno" class="nav-link">Alumno</a>
        </li>

        <li class="nav-item">
          <a routerLink="addModalidad" class="nav-link">Modalidad</a>
        </li>

        <li class="nav-item">
          <a routerLink="addDocente" class="nav-link">Docente</a>
        </li>
      </ul>
    </div>
    <!-- FIN del MENU--- Este es el MENU del nav ------------------------------->
  </nav>
  <!-- FIN del NAV--- Esta es nav osea la barra de navegación  ---------------------------------->

  <!-- Por aquí va la etiqueta router-outlet donde se van a colocar los componentes ----------->
  <div class="container mt-3">
    <router-outlet> </router-outlet>
  </div>
  <!-- Por aquí va la etiqueta router-outlet donde se van a colocar los componentes ----------->
</div>
<!-- ESTE COMPONENTE ES LA BARRA DE NAVEGACIÓN ----FIN----   ---------------------------------->
